* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

body {

    font-family: 'Poppins', sans-serif;
}

.container-one {

    display: flex;
    padding: 156px;
    background-color: #2D25A0;
    height: 677px;
    justify-content: space-between;
    align-items: center;

}

.title h1 {
    color: #FFFFFF;
    font-size: 64px;

}

.title-img img {

    width: 556.01px;
    height: 438px;
}



.link-button {

    display: inline-block;
    text-decoration: none;
    background: #E02C6D;
    font-size: 14px;
    color: white;
    width: 168px;
    height: 44px;
    padding: 10px 5px;
    margin-top: 27px;
    padding-left: 30px;

    transition: transform 0.4s ease-out;



}

.link-button:hover {
    transform: scale(1.3);
    margin-left: 20px;

}

.icon {
    margin-left: 2px;
}

.container-two {

    display: flex;
    align-items: center;
    justify-content: center;

}

.box {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: (4, 1fr);
    width: 100%;

    grid-gap: 30px;
    margin: 70px 210px 50px 210px;


}

.player {
    box-shadow: 0 0 10px 5px rgb(207, 201, 201);
    width: 330px;
    height: 474px;
    padding: 15px;
}

.player h1 {

    font-size: 28px;



}

.player-info {

    color: #6C6C6C;
    font-size: 16px;

}

.player img {

    width: 100%;
}



.lower {

    display: flex;
    padding: 165px;

    height: 592px;
    justify-content: space-between;
    align-items: center;

}

.lower-title h1 {

    font-size: 48px;

}

.lower-img img {

    width: 567px;
    height: 427px;

}

.lower-art {
    color: #6C6C6C;
    font-size: 16px;
}

.container-four {


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 213px;
    margin-bottom: 50px;


}

.footer-icon {

    display: flex;
    justify-content: center;
    align-items: center;

    height: 32px;
    width: 32px;
}

.footer-icon i {
    margin: 0px 10px;
}

.logo img {

    height: 110px;
    width: 483px;

}



@media only screen and (max-width: 688px) {
    /* Top Section  */

    .container-one {
        flex-direction: column;
        padding: 5px;
        padding-top: 120px;
        justify-content: left;



    }

    .title h1 {

        font-size: 32px;

    }

    .title-img img {
        margin-top: 50px;

        width: 329px;
        height: 249px;
    }

    .box {
        grid-template-rows: repeat(12, 1fr);
        grid-template-columns: 1fr;

    }



    .lower {
        
        

        flex-direction: column;
       
        

        
        width: 360px;

       

        padding: 40px;

    }

    .lower-title h1 {
    

        font-size: 32px;
    
    }
    

    .lower-img img {


        margin-top: 30px;
        width: 328px;
        height: 248px;
        padding-left: 30px;

    }


    .container-four{

        margin-top: 350px;
        
    }

    .logo img{

        transform: scale(0.6);
    }

}